:root{
    --green: #00880F;
    --gray: #212529;
    --white: #f0f8ff;
    --lightgray:#EFF6F0;
    --darkgreen:#305534;

}
body{
    width:100%;
    margin:0;
}

.header{
    display: grid;
    grid-template-columns: 1.3fr 2fr 0.3fr 1fr;
    height: 89px;
    background-color: var(--white);
    width: 100%;
    position: fixed;
    z-index: 99999;
}
.header img{
    padding-left: 100px;
    padding-top: 20px;
}
.header-list{
    list-style-type: none;
    margin-top:30px;
    padding: 0; 
}
.header-list li{
    display: inline;
    
}
.header-list li>a{
    color:var(--gray);
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    line-height: 27px;
    height: 89px;
    font-weight: 800;
    
}
.header a:hover{
    color: #219b2d;
}

.header i{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(184, 187, 185);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    color: #219b2d;

}
.header-button{
    border-radius: 25px;
    width: 160px;
    background-color: var(--green);
    border-color: transparent;
    height: 50px;
    margin-top: 15px;
    margin-left: 25px;
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.carousel img{
    width: 100%;
    height: 800px;
}
.carousel{
    position: relative;
    text-align: center;
    color: var(--white);
}
.carousel h1{
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    line-height: 72px;
    width: fit-content;
}

.carousel button{
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    height: 55px;
    width: 210px;
    border-color: var(--white);
    border-style: none;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding: 14px 14px;
    margin-top: 30px;
    
}
.carousel a{
    text-decoration: none;
    color: #305534;
}
.carousel button:hover{
    border-color: var(--white);
    border-style: solid;
    background-color: transparent;
    border-width: 1px;
    color: var(--white);
}


.services{
    display: flex;
    justify-content: space-around;
    width: 1150px;
    text-align:center ;
    margin:auto;
}
.services img{
    width:60px;
    height: 70px;
}
.card1, .card2, .card3, .card4, .card5, .card6 h3{
    
    color: #00880F;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    text-decoration: none; 
}

.card1, .card2, .card3, .card4, .card5, .card6{
    padding: 10px;
    width: 150px;
    height: 160px;
    background-color: #F7FBF8;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover{
    background-color: white;
}
.service-container{
    background-color: var(--lightgray);
    padding-top: 40px;
    height: 400px;
}
.paragrafi {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: var(--darkgreen);
    padding-top: 70px;
    height: 140px;
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
}
.paragrafi a{
    color: var(--green);
}

.side{
    height:940px;
    background-color: #305534;
}

.left-side{
    width: 42%;
    float:left;
    margin-left: 16%; 
    font-family: 'Barlow', sans-serif;
    font-size:24px;
    color:var(--white);
    padding-top: 70px;
}
.left-side img{
    width: 547px; 
    margin-top: 30px;
}
.left-side p{
    font-size: 20px;
    line-height: 29px;
}
.right-side{
    width:40%;
    float: right;
    height: 840px;
    font-family: 'Barlow', sans-serif;
    color: var(--white);
    padding-top: 70px;
}
.right-side h2{
    font-size: 28px;
    line-height: 29px;
}
.right-side p{
    font-size: 20px;
    margin-bottom: 70px;
    margin-right: 100px;
}
.right-side button{
    border-radius: 30px;
    width: 230px;
    height: 65px;
    background-color: #00880F;
    border: none;
    
}
.right-side button>a{
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-size: 18px;
}
.right-side img{
    width:340px;
    height:280px;
    margin-top: 40px;
}
.lower{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.lower1 i, .lower2 i, .lower3 i{
    color: green;
    width: 50px;
    height: 50px;
}
.lower1 p, .lower2 p, .lower3 p{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    line-height: 32px;

}
.lower1 h2, .lower2 h2, .lower3 h2{
    font-family: 'Barlow', sans-serif;
    color:var(--darkgreen);
    
}
.lower1 , .lower2, .lower3{
    padding: 46px 23px;
    border-bottom: 1px solid black;
}
.lower1 , .lower2{
    border-right: 1px solid rgb(104, 102, 102);
}
.project-container{
    height: 1200px;
    background-color: #094b11;
   
}
.projects h3{
    text-align: center;
    font-size: 36px;
    font-family: 'Barlow', sans-serif;
    color: var(--white);
    margin-top: 0;
    padding-top: 15px;

}
.project-images img{
    padding: 10px;
    margin:auto
    
}
.project-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.contact{
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    justify-items: center;
    margin: 60px 20px 20px 20px;
}
.contact-first p{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: #305534;
    line-height: 32px;
    
}
.contact-first li{
    display: inline;
}
.contact-first i{
    padding: 10px;
    color: var(--green);
    border: 1px solid grey;
    border-radius: 25px;
    margin-right: 10px;
}
.contact-first i:hover{
    color: var(--white);
    background-color: #00880F;
}
.contact-first a{
    text-decoration: none;
}
.contact-first ul, .contact-second ul, .contact-third li{
    list-style: none;
}
.contact-second h3, .contact-third h3, .contact-fourth h3 {
    font-size: 28px;
    font-family: 'Barlow', sans-serif;
    color:#094b11;
    
}
.contact-second li, .contact-third li{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: #305534;
    line-height: 48px;
}
.contact-second ul{
    padding-left: 0px;
}
.contact-third li>a{
    text-decoration: none;
    color: #305534;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}
.contact-fourth p{
    color: #00880F;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}
.contact-fourth span{
    color: #00880F;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: bold;

}




 /*Small devices*/
@media (max-width: 320px){
    :root{
        --green: #00880F;
        --gray: #212529;
        --white: #f0f8ff;
        --lightgray:#EFF6F0;
        --darkgreen:#305534;
    
    }
    body{
        
        max-width: 320px;
        margin:0;
        padding: 0;
        width: fit-content;

    }
    .header{
        position:absolute;
        width: 320px;
        display: inline;
        height: 250px;
    }
    .header img{
        width: 220px;
        padding: 0;
        margin-left: 40px;
    }
    .header-list li{
        width: 320px;
        height: 50px;
        
    }
    .header i{
        display: inline;
        margin-left: 20px;
        width: 40px;
    }
    
    .carousel{
        margin-top: 200px;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        width: 320px;
       
    }
    .service-container{
        height:1400px;
        width: 320px;
        align-items: center;
        

    }
    .side{
        display: flex;
        flex-direction: column;
        height: 1800px;
      

    }
    .left-side, .right-side{
        margin-left: 10px;

    }
    .left-side h1, .right-side h2{
        font-size: 18px;
        width: 300px;
    }
    .left-side p, .right-side p{
        width: 300px;
    }
    .left-side img{
        width: 250px;
        height: 250px;
    }
    .right-side img{
        width: 280px;
        height: 280px;
    }
    .lower{
        display: flex;
        flex-direction: column;
    }
    .project-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .project-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project-images img{
        width: 150px;
        height: 150px;
        padding: 5px;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    
}
/* Medium devices */
@media (min-width: 769px) and  (max-width:992px){
    :root{
    --green: #00880F;
    --gray: #212529;
    --white: #f0f8ff;
    --lightgray:#EFF6F0;
    --darkgreen:#305534;

    }
    body{
        width:769px;
    }
    .header{
        width: 769px;
        height:120px;
    }
    .header img{
        padding:0;
        padding-top: 20px;
    }
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 769px;
        justify-items: center;
        padding: 0;
        margin:0;
        
    }
    .service-container{
        height: 800px;
    }
    .left-side img{
        width:300px;
        height:300px;
    }
    .right-side img{
        width :120px;
        height:120px;
        margin-top: 10px;
    }
    .project-container{
        height:1000px;
        width: 769px;
    }
    .project-images{
        
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .project-images img{
        width:200px;
    }
    .contact-first, .contact-second, .contact-third, .contact-fourth{
        padding: 10px;
    }
}